<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table >
  <thead>
    <tr>
      <th>Task name</th>
      <th>Due date</th>
      <th>Weight</th>
      <th>Progress</th>
      <th>Priority</th>
      <th>Required time</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.due_date %></td>
        <td><%= task.weight %></td>
        <td><%= task.progress %></td>
        <td><%= task.priority %></td>
        <td><%= task.required_time %></td>
        <td><%= task.user %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
